@page
@model SpeedyGourmet.WebApp.Pages.Recipee.AddIngredients
@{
}

<h1>Title: @Model.Recipe.Title</h1>
<h4> <p>ID: @Model.Recipe.Id</p></h4>
<h4> <p>Category: @Model.Recipe.Category.Name</p></h4>
<h6> <p>Preparation Time: @Model.Recipe.PrepTime minutes</p></h6>

<table class="table">
    <thead>
        <tr>
            <th>Ingredient's List</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.IngredientLine ingredientLine in Model.Recipe.Ingredients)
        {
            <tr>
                <td>@ingredientLine.Quantity @ingredientLine.Measure.Name de @ingredientLine.Ingredient.Name</td>
                <td>
                    <a asp-page="/Recipes/DeleteILine" asp-route-ingredientId="@ingredientLine.Id" asp-route-recipeId="@Model.Recipe.Id"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Preparation Method</th>
        </tr>
    </thead>
    <tbody>
         <tr>
            <td>@Model.Recipe.PrepMethod</td>
        </tr>
    </tbody>
</table>

<form method="post" class="justify-content-center">
    <div class="d-flex">
        <h3>Add Ingredients </h3>
        <select name="id_ingredient" class="form-select mx-2" style="width: 250px" aria-label="Default select example">
            <option selected>Select an Ingredient</option>
            @foreach (Model.Ingredient ingredient in Model.Ingredients)
            {
                <option value="@ingredient.Id">@ingredient.Name</option>
            }
        </select>
        <br />
        
        <input type="number" name="quantity" class="form-control mx-2" style="width: 250px" placeholder="Enter Quantity Number">
        <br />

        <select name="id_measure" class="form-select mx-2" style="width: 250px" aria-label="Default select example">
            <option selected>Select a Measure Unit</option>
            @foreach (Model.Measure measure in Model.Measures)

            {
                <option value="@measure.Id">@measure.Name</option>
            }
        </select>
        <br />
        <button type="submit" class="btn btn-primary mx-2">Add Ingredient</button>
        @* <a class="btn btn-danger mx-2" asp-area="" asp-page="/Recipes/DeleteAllILines" asp-route-ingredientLine="@Model.Recipe.Id"> Delete all</a> *@
    </div>
</form>