<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpeedyGourmet.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpeedyGourmet.WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/7f663f69a4.js" crossorigin="anonymous"></script>
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/Index">Logo</a>
        
                <ul class="navbar-nav">

                    @if (Model.User is null)
                    {
                        <li class="nav-item ml-1">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Login">Login</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Register">Register</a>
                        </li>

                        <form method="get" class="d-flex" asp-page="/Shared/Search">
                            <input type="text" class="form-control align-content-center" name="query" placeholder="Search Box" />
                            <button type="submit" class="btn btn-primary mx-2">Search</button>
                        </form>
                    }
                    else
                    {
                        <li class="nav-item ml-1">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Login">Login</a>
                        </li>

                        <li class="nav-item ml-1">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Users/Logout">Logout</a>
                        </li>

                        <ul class="nav-item">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#">User Menu</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-route-userId="@Model.User.Id" asp-page="/Users/GetById"><i class="fa-solid fa-users"></i> User Definitions</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-route-userId="@Model.User.Id" asp-page="/Favourites/GetAllByUser"><i class="fa-solid fa-heart"></i> My Favourites</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-route-userId="@Model.User.Id" asp-page="/Posts/GetAllByUser"><i class="fa-solid fa-comments"></i>My Comments</a></li>
                                    <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-route-userId="@Model.User.Id" asp-page="/Recipes/GetAllByUserId"><i class="fa-solid fa-bowl-food"></i> My Recipes</a></li>
                                </ul>
                            </li>
                        </ul>

                        if (Model.User.IsAdmin == true)
                        {
                            <ul class="nav-item">
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" data-bs-toggle="dropdown" href="#">Menu Admin <i class="fa-solid fa-crown" style="color: #ffbb00"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Categories/GetAll"><i class="fa-solid fa-burger"></i> Categories</a></li>
                                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Users/GetAll"><i class="fa-solid fa-users"></i> Manage Users</a></li>
                                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Difficulties/GetAll"><i class="fa-solid fa-chart-simple"></i> Difficulties</a></li>
                                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Measures/GetAll"><i class="fa-solid fa-scale-balanced"></i> Measures</a></li>
                                        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Ingredients/GetAll"><i class="fa-solid fa-wheat-awn"></i> Ingredients</a></li>
                                    </ul>
                                </li>
                            </ul>


                        }
                           
                        <form method="get" class="d-flex" asp-page="/Shared/Search">
                            <input type="text" class="form-control align-content-center" name="query" placeholder="Search Box" />
                            <button type="submit" class="btn btn-primary mx-2">Search</button>
                        </form>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SpeedyGourmet.WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>