@page
@model SpeedyGourmet.WebApp.Pages.Posts.GetAll
@{
}
<h2>List of Comments <i class="fa-regular fa-comments"></i></h2>
<br />

<div class="d-flex">
    <div class="form-group">
        <a class="btn btn-danger" asp-area=" " asp-page="/Posts/GetAllByRecipe">View all posts by recipe <i class="bi bi-arrow-left"></i></a>
    </div>

    <div class="form-group">
        <a class="btn btn-danger mx-2" asp-area=" " asp-page="/Posts/GetAllByUser">View all posts by user <i class="bi bi-arrow-left"></i></a>
    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Post post in Model.Posts)
        {
            <tr>
                <td><i class="fa-solid fa-user"></i> @post.User.UserName Posted on @post.Recipe.Title by @post.Recipe.Author with @post.Rating <i class="fa-regular fa-star"></i>'s</td>
                <td></td>
                <td>
                    <a asp-page="/posts/Delete" asp-route-postId="@post.Id"><i class="fa-regular fa-trash-can" style="color: #d10000;"></i></a> /
                    <a asp-page="/posts/GetById" asp-route-postId="@post.Id"><i class="fa-regular fa-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />