@page
@model SpeedyGourmet.WebApp.Pages.Posts.GetAllByRecipeModel
@{
    double totalRating = 0.0;
    foreach (Model.Post post in Model.posts)
    {
        totalRating += post.Rating;
    }
    double averageRating = totalRating / Model.posts.Count;
    averageRating = Math.Round(averageRating, 2);
}

<h2>List of Comments <i class="fa-regular fa-comments"></i></h2>
<br />

<div class="d-flex">
    <div class="form-group">
        <a class="btn btn-danger" asp-page="/Posts/GetAll" asp-route-id="@Model.user.Id">Return <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
    </div>

    <form method="post" class="d-flex">
        <div class="form-group mx-2">
            <select name="id_recipe" class="form-control" style="width: 150px;">
            <label>Choose a recipe: </label>
            @foreach (Model.Recipe recipe in Model.recipes)
            {
                <option value="@recipe.Id">@recipe.Title</option>
            }
            </select>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Select <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </form>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            @if (averageRating >= 1)
            {
                <th>Average @averageRating <i class="fa-solid fa-star"></i>'s</th>
                <th></th>
            }
            else
            {
                <th></th>
                <th></th>
            }
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Post post in Model.posts)
        {
            <tr>
            <td><i class="fa-solid fa-user"></i> @post.User.UserName Posted on @post.Recipe.Title with @post.Rating <i class="fa-regular fa-star"></i>'s</td>
            <td>
                <a asp-page="/posts/Delete" asp-route-id="@post.Id"><i class="fa-regular fa-trash-can"></i></a> /
                <a asp-page="/posts/GetById" asp-route-id="@post.Id"><i class="fa-regular fa-eye"></i></a>
            </td>
            </tr>

        }
    </tbody>
</table>



