@page
@model SpeedyGourmet.WebApp.Pages.Recipee.AddIngredientsModel
@{
}

<h1>Title: @Model.recipe.Title</h1>
<h4> <p>ID: @Model.recipe.Id</p></h4>
<h4> <p>Category: @Model.recipe.Category.Name</p></h4>
<h6> <p>Preparation Time: @Model.recipe.PrepTime minutes</p></h6>

<table class="table">
    <thead>
        <tr>
            <th>Ingredient's List</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredient in Model.recipe.Ingredients)
        {
            <tr>
                <td>@ingredient.Quantity @ingredient.Measure.Name de @ingredient.Ingredient.Name</td>
                <td>
                   @*  <a asp-page="/Recipee/DeleteILine" asp-route-id="@ingredient.Id"><i class="fa-regular fa-trash-can"></i></a> *@
                    <a asp-page="/Recipee/DeleteILine" asp-route-id="@ingredient.Id" asp-route-id_recipe="@Model.recipe.Id"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Preparation Method</th>
        </tr>
    </thead>
    <tbody>
         <tr>
            <td>@Model.recipe.PrepMethod</td>
        </tr>
    </tbody>
</table>

<form method="post" class="justify-content-center">
    <div class="d-flex">
        <h3>Add Ingredients </h3>
        <select name="id_ingredient" class="form-select mx-2" style="width: 250px" aria-label="Default select example">
            <option selected>Select an Ingredient</option>
            @foreach (Model.Ingredient ingredient in Model.Ingredients)
            {
                <option value="@ingredient.Id">@ingredient.Name</option>
            }
        </select>
        <br />
        
        <input type="number" name="quantity" class="form-control mx-2" style="width: 250px" placeholder="Enter Quantity Number">
        <br />

        <select name="id_measure" class="form-select mx-2" style="width: 250px" aria-label="Default select example">
            <option selected>Select a Measure Unit</option>
            @foreach (Model.Measure measure in Model.Measures)

            {
                <option value="@measure.Id">@measure.Name</option>
            }
        </select>
        <br />
        <button type="submit" class="btn btn-primary mx-2">Add Ingredient</button>
        <a class="btn btn-danger mx-2" asp-area="" asp-page="/Recipee/DeleteAllILines" asp-route-id="@Model.recipe.Id"> Delete all</a>
    </div>
</form>