@page
@model SpeedyGourmet.WebApp.Pages.Favourites.GetAllModel
@{
}

<br>

<form method="post">

    <div class="form-group">
        <label>Create a new favourite</label>
        <input name="id_user" class="mr-2" placeholder="Enter User ID">
        <input name="id_recipe" class="mr-1" placeholder="Enter Recipe ID">
    </div>

    <br>

    <button type="submit" class="btn btn-primary ml-2">Submit</button>

</form>

<br>

<a asp-page="/Favourites/GetAllByUser" asp-route-id="@Model.user.Id">View Favourites by user id</a>

<br>

<table class="table">

    <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">User Id</th>
            <th scope="col">Recipe</th>
            <th scope="col">Recipe Id</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>

        @foreach (Model.Favourite favourite in Model.favourites)
        {
            <tr>
                <td><a>@favourite.User.Name</a></td>
                <td><a>@favourite.User.Id</a></td>
                <td><a>@favourite.Recipe.Title</a></td>
                <td><a>@favourite.Recipe.Id</a></td>
                <td>
                    <a asp-page="/Favourites/Delete" asp-route-id="@favourite.Id">Delete</a> /
                    <a asp-page="/Favourites/GetById" asp-route-id="@favourite.Id">View</a>
                </td>
            </tr>
        }
    </tbody>

</table>