@page
@model SpeedyGourmet.WebApp.Pages.Favourites.GetAllByUser
@{
}

<h2>Favourites <i class="fa-solid fa-heart"></i></h2>
<br />
@if (Model.User.IsAdmin == true)
{
    <div class="d-flex">
        <div class="form-group">
            <a class="btn btn-danger" asp-area="" asp-page="/Favourites/GetAll"> Return <i class="fa-solid fa-arrow-up-from-bracket"></i></a>
        </div>

        <form method="post" class="d-flex">
            <div class="form-group mx-2">
                <select name="id_user" class="form-control">
                    <option selected>Select User</option>
                    @foreach (Model.User user in Model.Users)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Select <i class="fa-solid fa-arrow-right"></i></button>
            </div>
        </form>
    </div>
    <br />
}

<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Model.Favourite favourite in Model.Favourites)
        {
            <tr>
                <td><a><i class="fa-solid fa-user"></i> @favourite.User.UserName <i class="fa-solid fa-heart"></i> @favourite.Recipe.Title</a></td>
                <td>
                    <a asp-page="/Favourites/Delete" asp-route-favouriteId="@favourite.Id"><i class="fa-regular fa-trash-can" style="color: #d10000;"></i></a> /
                    <a asp-page="/Favourites/GetById" asp-route-favouriteId="@favourite.Id"><i class="fa-regular fa-eye"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

