@page
@model SpeedyGourmet.WebApp.Pages.Users.GetAllModel
@{
}

<h2>List of Users <i class="fa-solid fa-users"></i></h2>
<br />

<div class="form-group">
    <a class="btn btn-danger" asp-page="/Users/RegisterUser">Create new User <i class="fa-regular fa-user"></i></a>
</div>

<table class="table">

    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Admin</th>
            <th scope="col">Blocked</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model.users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.UserName</td>
                <td>@user.IsAdmin</td>
                <td>@user.IsBlocked</td>
                <td>
                    <a asp-page="/users/Delete" asp-route-id="@user.Id">Delete</a> /
                    <a asp-page="/users/GetById" asp-route-id="@user.Id">View</a>
                </td>
            </tr>
        }
    </tbody>

</table>