@page
@model SpeedyGourmet.WebApp.Pages.Users.GetById
@{
}

<h2>Edit User <i class="fa-solid fa-user"></i></h2>
<br />

<table class="table">

    <thead>
        <tr>
            <th scope="col">Delete</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Admin</th>
            <th scope="col">Block</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        <form method="post" class="align-middle text-center">
            <tr>
            <td>
                <a asp-page="/users/Delete" asp-route-id="@Model.user.Id"><i class="fa-solid fa-user-xmark"></i></a>
            </td>
                <td>
                    <div>
                        <input id="id" name="id" class="form-control" style="width: 50px" value="@Model.user.Id" readonly>
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="name" class="form-control" style="width: 150px" value="@Model.user.Name">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="username" class="form-control" style="width: 150px" value="@Model.user.UserName">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="email" class="form-control" style="width: 150px" placeholder="@Model.user.Email">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="password" class="form-control" style="width: 100px" placeholder="*****">
                    </div>
                </td>

                <td>
                    <div class="form-control d-flex" style="width: 150px">
                        @if (Model.user.IsAdmin == true)
                        {
                        <a><i class="fa-solid fa-crown" style="color: #ffbb00"></i> </a>
                        }
                        else if (Model.user.IsAdmin == false)
                        {
                        <a><i class="fa-solid fa-xmark" style="color: #f40101;"></i> </a>
                        }
                    <label class="mx-2" for="isone">Yes  </label>
                    <input class="mx-2" type="radio" id="isone" name="is_admin" value="true">
                        
                        <label for="iszero">No  </label>
                        <input class="mx-2" type="radio" id="iszero" name="is_admin" value="false">
                    </div>
                </td>

                <td>
                    <div class="form-control d-flex" style="width: 150px">
                        @if (Model.user.IsBlocked == true)
                        {
                        <a><i class="fa-solid fa-lock" style="color: #d10000;"></i></a>
                        }
                        else if (Model.user.IsBlocked == false)
                        {
                        <a><i class="fa-solid fa-lock-open" style="color: #138630;"></i></a>
                        }
                        <br/>
                        <label class="mx-2" for="isoneblock">Yes  </label>
                        <input class="mx-2" type="radio" id="isoneblock" name="is_blocked" value="true">

                        <label for="iszeroblock">No  </label>
                        <input class="mx-2" type="radio" id="iszeroblock" name="is_blocked" value="false">
                    </div>
                </td>

                <td>
                    <button type="submit" class="btn btn-primary">Edit User <i class="fa-solid fa-arrow-right"></i></button>
                </td>
            </tr>
        </form>
    </tbody>

</table>

@* <form method="post" class="d-group">
    <div class="d-flex">
        <div>
            <input id="id" name="id" class="form-control mx-2" style="width: 50px" value="@Model.user.Id" readonly>
        </div>

        <div>
            <input name="name" class="form-control" style="width: 150px" placeholder="Name">
        </div>
        <br />

        <div>
            <input name="username" class="form-control mx-2" style="width: 150px" placeholder="User name">
        </div>
        <br />

        <div>
            <input name="email" class="form-control mx-1" style="width: 150px" placeholder="Email">
        </div>
        <br />

        <div>
            <input name="password" class="form-control mx-1" style="width: 150px" placeholder="Password">
        </div>
    </div>
    <br />

    <div class="d-flex">
        <fieldset class="form-control" style="width: 200px">
            <label>Admin</label>
            <input class="align-content-center" type="radio" id="iszero" name="is_admin" value="false">
            <label class="align-content-bottom" for="iszero">No</label>

            <input class="centre" type="radio" id="isone" name="is_admin" value="true">
            <label class="centre" for="isone">Yes</label>
        </fieldset>
    
        <fieldset class="form-control mx-2" style="width: 200px">
            <label>Block User</label>
            <input type="radio" id="iszeroblock" name="is_blocked" value="false">
            <label for="iszeroblock">No</label>

            <input type="radio" id="isoneblock" name="is_blocked" value="true">
            <label for="isoneblock">Yes</label>
        </fieldset>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Edit User <i class="fa-solid fa-arrow-right"></i></button>
        <a class="btn btn-danger" asp-area="" asp-page="/Users/GetAll">Return <i class="fas fa-arrow-up-from-bracket"></i></a>
    </div>
    </div>
    
</form>
 *@
