@page
@model SpeedyGourmet.WebApp.Pages.Users.GetByIdModel
@{
}

<h2>User Menu/Update <i class="fa-solid fa-user"></i></h2>
<br />

<table class="table">

    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Admin</th>
            <th scope="col">Blocked</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>@Model.user.Id</td>
            <td>@Model.user.Name</td>
            <td>@Model.user.UserName</td>
            <td>@Model.user.Email</td>
            <td>*****</td>
            <td>@Model.user.IsAdmin</td>
            <td>@Model.user.IsBlocked</td>
            <td>
                <a asp-page="/users/Delete" asp-route-id="@Model.user.Id"><i class="fa-regular fa-trash-can"></i></a>
            </td>
        </tr>
    </tbody>

</table>

<form method="post" class="d-group">
    <div class="form-group">
        <input name="name" class="mr-2" placeholder="Name: @Model.user.Name">
    </div>
    <div class="form-group">
        <input name="username" class="mr-2" placeholder="UserName: @Model.user.UserName">
    </div>
    <div class="form-group">
        <input name="email" class="mr-2" placeholder="email: @Model.user.Email">
    </div>
    <div class="form-group">
        <input name="password" class="mr-2" placeholder="pass: @Model.user.Password">
    </div>

    <fieldset class="form-group">
        <legend>Admin</legend>
        <div class="center">
            <input class="centre" type="radio" id="iszero" name="is_admin" value="false">
            <label class="centre" for="iszero">No</label>
         </div>
        <div class="center">
            <input class="centre" type="radio" id="isone" name="is_admin" value="true">
            <label class="centre" for="isone">Yes</label>
        </div>
    </fieldset>

     <br />

    <fieldset class="form-group">
        <legend>Block User</legend>
        <div class="center">
            <input type="radio" id="iszeroblock" name="is_blocked" value="false">
            <label for="iszeroblock">No</label>
        </div>
        <div class="center">
            <input type="radio" id="isoneblock" name="is_blocked" value="true">
            <label for="isoneblock">Yes</label>
        </div>
    </fieldset>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Edit User <i class="fa-solid fa-arrow-right"></i></button>
        <a class="btn btn-danger" asp-area="" asp-page="/Users/GetAll">Return <i class="fas fa-arrow-up-from-bracket"></i></a>
    </div>

    <br />
</form>

