@page
@model SpeedyGourmet.WebApp.Pages.Users.GetById
@{
}

<h2>Edit User <i class="fa-solid fa-user"></i></h2>
<br />

@if (Model.User.IsAdmin == true && Model.User.Id != Model.UserEdit.Id)
{
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Delete</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Admin</th>
                <th scope="col">Block</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            <form method="post" class="align-middle text-center">
                <tr>
                    <td>
                    <a asp-page="/users/Delete" asp-route-userId="@Model.UserEdit.Id"><i class="fa-solid fa-user-xmark" style="color: #f40101;"></i></a>
                    </td>
                    <td>
                        <div>
                        <input id="id" name="id" class="form-control" style="width: 50px" value="@Model.UserEdit.Id" readonly>
                        </div>
                    </td>
                    <td>
                        @if (User.Identity.Name == Model.UserEdit.UserName)
                        {
                            <div>
                            <input type="text" name="name" class="form-control" style="width: 150px" value="@Model.UserEdit.Name" readonly">
                            </div>
                        }
                    </td>
                    <td>
                        <div>
                        <input name="username" class="form-control" style="width: 150px" value="@Model.UserEdit.UserName" readonly=>
                        </div>
                    </td>
                    <td>
                        <div>
                        <input name="email" class="form-control" style="width: 150px" placeholder="@Model.UserEdit.Email" readonly=>
                        </div>
                    </td>
                    <td>
                        <div>
                        <input name="password" class="form-control" style="width: 100px" placeholder="*****" readonly=>
                        </div>
                    </td>

                    <td>
                        <div class="form-control d-flex" style="width: 170px">
                            <label class="mx-2" for="isone">Yes</label>
                            <input class="mx-2" type="radio" id="isone" name="is_admin" value="true">
                        
                            <label for="iszero">No</label>
                            <input class="mx-2" type="radio" id="iszero" name="is_admin" value="false">
                        </div>
                    </td>

                    <td>
                        <div class="form-control d-flex" style="width: 170px">
                            <label class="mx-2" for="isoneblock">Yes</label>
                            <input class="mx-2" type="radio" id="isoneblock" name="is_blocked" value="true">

                            <label for="iszeroblock">No</label>
                            <input class="mx-2" type="radio" id="iszeroblock" name="is_blocked" value="false">
                        </div>
                    </td>

                    <td>
                        <button type="submit" class="btn btn-primary">Edit User <i class="fa-solid fa-arrow-right"></i></button>
                    </td>
                </tr>
            </form>
        </tbody>

    </table>
}
else if (Model.User.IsAdmin == true && Model.User.Id == Model.UserEdit.Id)
{
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Delete</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Admin</th>
                <th scope="col">Block</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            <form method="post" class="align-middle text-center">
            <tr>
                <td>
                    <a asp-page="/users/Delete" asp-route-userId="@Model.UserEdit.Id"><i class="fa-solid fa-user-xmark" style="color: #f40101;"></i></a>
                </td>
                <td>
                    <div>
                        <input id="id" name="id" class="form-control" style="width: 50px" value="@Model.UserEdit.Id" readonly>
                    </div>
                </td>
                <td>
                        @if (User.Identity.Name == Model.UserEdit.UserName)
                        {
                        <div>
                            <input type="text" name="name" class="form-control" style="width: 150px" value="@Model.UserEdit.Name">
                        </div>
                        }
                </td>
                <td>
                    <div>
                        <input name="username" class="form-control" style="width: 150px" value="@Model.UserEdit.UserName">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="email" class="form-control" style="width: 150px" placeholder="@Model.UserEdit.Email">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="password" class="form-control" style="width: 100px" placeholder="*****">
                    </div>
                </td>

                <td>
                    <div class="form-control d-flex" style="width: 170px">
                        <label class="mx-2" for="isone">Yes</label>
                        <input class="mx-2" type="radio" id="isone" name="is_admin" value="true">

                        <label for="iszero">No</label>
                        <input class="mx-2" type="radio" id="iszero" name="is_admin" value="false">
                    </div>
                </td>

                <td>
                    <div class="form-control d-flex" style="width: 170px">
                        <label class="mx-2" for="isoneblock">Yes</label>
                        <input class="mx-2" type="radio" id="isoneblock" name="is_blocked" value="true">

                        <label for="iszeroblock">No</label>
                        <input class="mx-2" type="radio" id="iszeroblock" name="is_blocked" value="false">
                    </div>
                </td>

                <td>
                    <button type="submit" class="btn btn-primary">Edit User <i class="fa-solid fa-arrow-right"></i></button>
                </td>
            </tr>
            </form>
        </tbody>

    </table>
}
else
{
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Admin</th>
                <th scope="col">Blocked</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            <form method="post" class="align-middle text-center">
            <tr>
                <td>
                    <div>
                        <input id="id" name="id" class="form-control" style="width: 50px" value="@Model.UserEdit.Id" readonly>
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="name" class="form-control" style="width: 150px" value="@Model.UserEdit.Name">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="username" class="form-control" style="width: 150px" value="@Model.UserEdit.UserName">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="email" class="form-control" style="width: 150px" placeholder="@Model.UserEdit.Email">
                    </div>
                </td>
                <td>
                    <div>
                        <input name="password" class="form-control" style="width: 100px" placeholder="*****">
                    </div>
                </td>

                <td>
                        @if (Model.UserEdit.IsAdmin == true)
                    {
                        <div>
                        <input name="is_admin" class="form-control" style="width: 100px" placeholder=ADMIN readonly>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input name="is_admin" class="form-control" style="width: 100px" placeholder=CHEF readonly>
                        </div>
                    }
                </td>

                <td>
                        @if (Model.UserEdit.IsBlocked == true)
                    {
                        <div>
                        <input name="is_blocked" class="form-control" style="width: 100px" placeholder=YES readonly>
                        </div>
                    }
                    else
                    {
                        <div>
                            <input name="is_blocked" class="form-control" style="width: 100px" placeholder=NO readonly>
                        </div>
                    }
                </td>

                <td>
                    <button type="submit" class="btn btn-primary">Edit User <i class="fa-solid fa-arrow-right"></i></button>
                </td>
            </tr>
            </form>
        </tbody>

    </table>
}